<template>
  <div class="tile">
    <div class="tile-icon">
      <figure class="avatar avatar-lg"><img src="https://picturepan2.github.io/spectre/img/avatar-3.png" alt="Avatar"></figure>
    </div>
    <div class="tile-content">
      <p class="tile-title">{{trade.name}}</p>
      <p class="tile-subtitle"> 
        Hello guys, I am at {{trade.address}} , {{trade.city}} , {{trade.postcode}} and Please feel
         free to drop an email for me {{trade.email}}. If You have extra quid on your phone: {{trade.phone_number}}
      </p>
      <p class="tile-subtile" >
        <span class="text-success" v-if="openForBusiness" style="margin-top:-10px">Open For Business.</span>
        <span class="text-error" v-else style="margin-top:-10px">Sorry, We Closed!.</span>
      </p>
    </div>
    <div class="tile-action">
      <button class="btn" :class="{ 'btn-primary': openForBusiness,'btn-error':!openForBusiness  }" >
        {{openForBusiness ? 'OPEN' : 'CLOSED'}}
      </button>
      
    </div>
    
  </div>
             
</template>

<script>

 /* eslint-disable */
export default {
  name: 'TradeItemComponent',
  props: ['trade'],
  computed: {
    // a computed getter
    openForBusiness: function () {
      console.log(this.trade.hours[0].day);
      return (this.trade && 
      this.trade.hours && Array.isArray(this.trade.hours) 
      && this.trade.hours.length > 0 && !!this.trade.hours[0].day
      )
    }
  },
  methods : {
    
  },
  mounted(){
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
