<template>
<!-- gapless columns -->
<!-- flexbox grid example -->
<div class="container">
  <div class="columns">
    <div class="column col-3"></div>
    <div class="column col-6 col-sm-12 col-md-12 col-xs-12">
      <br>
      <div class="toast toast-error" v-if="!!tradeError">
        <p>{{tradeError}}</p>
      </div>
      <div class="columns">
              <div class="column col-12">
                <div class="loading loading-lg" v-if="loadingTrades"></div>
                  <TradeItemComponent :trade="trade" v-for="(trade) in trades" :key="trade._id"/>
              </div>
      
            </div>
    </div>
    <div class="column col-3"></div>

  </div>
</div>
</template>

<script>
 // eslint-disable-next-line to ignore the next line.
 /* eslint-disable */
import axios from "axios";
import TradeItemComponent from './TradeItemComponent';
const tradeUrl  = "https://wrenew-backend.herokuapp.com/api/trades";
export default {
  name: 'HelloWorld',
  components :{TradeItemComponent},
  props: {
    msg: String
  },
  data(){
    return {
      trades: [],
      tradeError : null,
      loadingTrades : false,
    }
  },
  methods : {
    getDataSuccessCB : function(response){
          
          const {data}  = response;
          if(data && !!data.trades){
            this.trades = data.trades;
          }
    },
    getDataFinallyCB : function () {
        this.loadingTrades  = false;
    },
    getDataErrorCB : function (error) {
       this.tradeError  = 'Unable to fetch Trades!. Please contact site admin.'
    },
    getData(){
      this.tradeError  = null;
      this.loadingTrades  = true;
      axios
        .get(tradeUrl)
        .then(this.getDataSuccessCB)
        .catch(this.getDataErrorCB)
        .finally(this.getDataFinallyCB);;

    }
  },
  mounted(){
    this.getData();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
